<app-header></app-header>

<div class="container">
  <section class="row secao-1">
    <div class="col-md-3">
      <div class="card">
        <div class="card-img">
          <i class="bi bi-pc-display icone"></i>
        </div>
        <div class="card-body">
          <h5 class="card-title">Equipamentos de Informática</h5>
          <p class="card-text">Computador, fonte alimentação, monitor (Crt, LCD e LED), notebook, netbook, teclado, mouse, caixa de som, no-break, estabilizador, cabos de energia, Usb, rede, Lpt, Vga. Placa mãe, fax, e etc.</p>
          <a [routerLink]="['/solicita-coleta']" class="btn btn-azul">Solicitar Coleta</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <div class="card-img">
          <i class="bi bi-cpu icone"></i>
        </div>
        <div class="card-body">
          <h5 class="card-title">Sucatas de Informática</h5>
          <p class="card-text">Processador, memória, placa telefônica, placa de celular, aparelho de celular, placa mãe, placa de notebook, placa marrom, HD.</p>
          <a [routerLink]="['/solicita-coleta']" class="btn btn-azul">Solicitar Coleta</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <div class="card-img">
          <i class="bi bi-printer icone"></i>
        </div>
        <div class="card-body">
          <h5 class="card-title">Equipamentos e Suprimentos de Impressão</h5>
          <p class="card-text">Impressora (Deskjet, laser), copiadora, cartucho de tinta, tonner e fita de impressora matricial.</p>
          <a [routerLink]="['/solicita-coleta']" class="btn btn-azul">Solicitar Coleta</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <div class="card-img">
          <i class="bi bi-phone icone"></i>
        </div>
        <div class="card-body">
          <h5 class="card-title">Equipamentos de Telefonia</h5>
          <p class="card-text">Central telefônica, telefone de mesa, celular, iPad, iPod, iPhone, smartphone, carregador e cabo telefônico.</p>
          <a [routerLink]="['/solicita-coleta']" class="btn btn-azul">Solicitar Coleta</a>
        </div>
      </div>
    </div>
  </section>

  <section class="row secao-2">
    <div class="col-md-3">
      <div class="card">
        <div class="card-img">
          <i class="bi bi-tv icone"></i>
        </div>
        <div class="card-body">
          <h5 class="card-title">Utensílios Domésticos</h5>
          <p class="card-text">Televisor (Tubo, Plasma, LCD e LED), rádio relógio, aparelho de som, batedeira, cafeteira, microondas, vídeo game, geladeira, vídeo cassete, DVD e ferro de passar roupa.</p>
          <a [routerLink]="['/solicita-coleta']" class="btn btn-azul">Solicitar Coleta</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <div class="card-img">
          <i class="bi bi-battery-charging icone"></i>
        </div>
        <div class="card-body">
          <h5 class="card-title">Material Eletrônico</h5>
          <p class="card-text">Cabos e fios, pilhas, placa eletrônica, ar condicionado, ventilador, exaustor, baterias de no-Break, carro, caminhão e moto.</p>
          <a [routerLink]="['/solicita-coleta']" class="btn btn-azul">Solicitar Coleta</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <div class="card-img">
          <i class="bi bi-exclamation-octagon icone"></i>
        </div>
        <div class="card-body">
          <h5 class="card-title">Metais Não Ferrosos</h5>
          <p class="card-text">Cobre, alumínio (perfil, chaparia, bloco), metal, bronze, inox, etc,.</p>
          <a [routerLink]="['/solicita-coleta']" class="btn btn-azul">Solicitar Coleta</a>
        </div>
      </div>
    </div>
  </section>
</div>

<app-footer></app-footer>
