<app-header></app-header>

<div class="container">
  <div [ngSwitch]="stateChange">
    <div *ngSwitchCase="state.StateDados">
      <section class="secao-1 textos">
        <p>
          A <b>Coleta Consciente</b> trabalha com coleta de resíduos eletroeletrônicos sem custo mediante quantidade
          mínima, somente para Goiânia e região metropolitana.
        </p>
        <p>Quando a quantidade de resíduos eletroeletrônicos não atingir o mínimo para coleta sem custo
          pode-se optar pelas seguintes opções:
        </p>
        <ol>
          <li>O cliente poderá levar os resíduos até a <b>Coleta Consciente</b>.</li>
          <li>O cliente aguardará uma data onde a <b>Coleta Consciente</b> fará um encaixe na rota.</li>
          <li>O cliente realizará o pagamento da taxa de coleta (Entre em contato).</li>
        </ol>
      </section>
      <section class="secao-2">
        <p>Informe os dados para coleta:</p>
        <div class="row">
          <div class="col-md-4">
            <mat-form-field style="width: 100%;">
              <input matInput type="number" [(ngModel)]="coleta.quantidade" (keypress)="appService.keyPressNumbers($event)" placeholder="Quantidade (Estimativa)" name="quantidade" required>
            </mat-form-field>
          </div>
          <div *ngIf="!isQuantidadeValida || coleta.quantidade < 10" class="col-md-6">
            <span class="text-danger" style="font-size: 16px;">Desculpe, essa quantidade não atinge o mínimo para coleta.</span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <mat-form-field style="width: 100%;">
              <input matInput [(ngModel)]="coleta.cep" (ngModelChange)="validarCEP($event)" placeholder="CEP" name="cep" mask="00000-000"  required>
            </mat-form-field>
            <span *ngIf="!isCepValido && !appService.isNullOrUndefined(coleta.cep) && coleta.cep !== ''" class="text-danger" style="font-size: 14px;">CEP informado é inválido.</span>
          </div>
          <div class="col-md-6">
            <mat-form-field style="width: 100%;">
              <input matInput [(ngModel)]="coleta.estado" [readonly]="true" [tabindex]="-1" placeholder="Estado" name="estado" required>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <mat-form-field style="width: 100%;">
              <input matInput [(ngModel)]="coleta.cidade" [readonly]="true" [tabindex]="-1" placeholder="Cidade" name="cidade" required>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field style="width: 100%;">
              <input matInput [(ngModel)]="coleta.bairro" [readonly]="true" [tabindex]="-1" placeholder="Bairro" name="bairro" required>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <mat-form-field style="width: 100%;">
              <input matInput [(ngModel)]="coleta.rua" [readonly]="true" [tabindex]="-1" placeholder="Rua" name="rua" required>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field style="width: 100%;">
              <input matInput [(ngModel)]="coleta.complemento" placeholder="Complemento" name="complemento" required>
            </mat-form-field>
            <span *ngIf="!isComplementoValido && appService.isNullOrUndefined(coleta.complemento) || coleta.complemento == ''" class="text-danger" style="font-size: 14px;">Informe o complemento.</span>
          </div>
        </div>

        <div class="row align-items-center input-data">
          <div class="col-md-3">
            <mat-form-field style="width: 100%;">
              <mat-label>Data para coleta</mat-label>
              <input [(ngModel)]="coleta.dataColeta" matInput [matDatepicker]="picker">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
          <div *ngIf="!isDataColetaValida" class="col-md-6">
            <span class="text-danger" style="font-size: 16px;">Informe a data para a coleta.</span>
          </div>
        </div>

        <a class="btn btn-verde" (click)="solicitaColeta()">Solicitar coleta</a>
      </section>
    </div>

    <div *ngSwitchCase="state.StateEnviado">
      <section class="text-center">
        <img class="img-fluid" src="assets/img/completed.png" width="700">
        <h2>Coleta agendada com sucesso!</h2>
      </section>
      <div class="d-flex justify-content-end">
        <a class="btn btn-verde mb-3" (click)="voltarClick()"><i class="bi bi-arrow-return-left"></i> Página inicial</a>
      </div>
    </div>
  </div>

</div>

<app-footer></app-footer>
