b, h2 {
  color: #359901;
}

.secao-1 {
  padding-top: 30px;
}

.card {
  height: 490px;
}

.card-img {
  font-size: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #00566c;
}

.btn-azul {
  position: absolute;
  bottom: 10px;
}

.icone-whatsapp {
  font-size: 40px;
  cursor: pointer;
  color: #199e0d;
}
