<app-header></app-header>

<ngb-carousel #carousel [animation]="false" [showNavigationArrows]="false" [pauseOnHover]="false" [pauseOnFocus]="false">
  <ng-template ngbSlide>
    <div>
      <img src="assets/img/banner1.png" class="img-fluid" alt="Descarte corretamente o que você não usa mais">
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div>
      <img src="assets/img/banner2.png" class="img-fluid" alt="Materiais como chumbo causam impactos negativos ao meio ambiente">
    </div>
  </ng-template>
</ngb-carousel>

<div class="container">
  <section class="row secao-1">
    <div class="col-md-3">
      <div class="card">
        <div class="card-img">
          <i class="bi bi-pc-display icone"></i>
        </div>
        <div class="card-body">
          <h5 class="card-title">Equipamentos de Informática</h5>
          <p class="card-text">Computador, fonte alimentação, monitor (Crt, LCD e LED), notebook, netbook, teclado, mouse, caixa de som, no-break, estabilizador e etc.</p>
          <a [routerLink]="['/o-que-coletamos']" class="btn btn-azul">Saiba mais</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <div class="card-img">
          <i class="bi bi-telephone icone"></i>
        </div>
        <div class="card-body">
          <h5 class="card-title">Equipamentos de Telefonia</h5>
          <p class="card-text">Central telefônica, telefone de mesa, celular, iPad, iPod, iPhone, smartphone, carregador e cabo telefônico.</p>
          <a [routerLink]="['/o-que-coletamos']" class="btn btn-azul">Saiba mais</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <div class="card-img">
          <i class="bi bi-printer icone"></i>
        </div>
        <div class="card-body">
          <h5 class="card-title">Utensílios Domésticos</h5>
          <p class="card-text">Televisor (Tubo, Plasma, LCD e LED), rádio relógio, aparelho de som, batedeira, cafeteira, microondas, vídeo game, geladeira.</p>
          <a [routerLink]="['/o-que-coletamos']" class="btn btn-azul">Saiba mais</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <div class="card-img">
          <i class="bi bi-exclamation-octagon icone"></i>
        </div>
        <div class="card-body">
          <h5 class="card-title">Metais não Ferrosos</h5>
          <p class="card-text">Cobre, alumínio (perfil, chaparia, bloco), metal, bronze, inox.</p>
          <a [routerLink]="['/o-que-coletamos']" class="btn btn-azul">Saiba mais</a>
        </div>
      </div>
    </div>
  </section>
</div>

<app-footer></app-footer>
