<app-header></app-header>

<div class="area-banner">
  <img class="img-fluid" src="assets/img/banner.png" width="700" alt="Logo do Projeto Semear">
</div>

<div class="container">
  <section class="row secao-1">
    <h2 class="text-center mb-4">VENHA SEMEAR</h2>
    <div class="col-md-6">
      <h4>O <b>Projeto Semear</b> é uma iniciativa de múltiplas organizações com a finalidade de disceminar a prática de plantio.</h4>
      <p>Nosso objetivo é fornecer sementes de variadas espécies de plantas e árvores, além de informações de como cultivá-las.</p>
      <p>As sementes podem ser retiradas de forma <b>gratuita</b> em nossa sede ou você pode recebe-las em sua casa, <b>pagando apenas pelo frete.</b></p>
      <p>Você poderá iniciar um novo hábito que fará bem para o meio ambiente e para sua própria <b>mente</b>.</p>
    </div>
    <div class="col-md-6">
      <iframe width="500" height="300" src="https://www.youtube.com/embed/tf2AYWKtYFg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="text-center mt-4">
      <button class="btn btn-lg btn-verde">PARTICIPE</button>
    </div>
  </section>
</div>

<app-footer></app-footer>
