<div class="container-fluid footer">
  <div class="container">
    <div class="row">
      <div class="col-md-10">
        <p>
          POSTO DE COLETA:<br>
          Fones: (62) 3232-3232 / 99999-9999<br>
          Rua 1 n° 5723, Qd. 97, Lt. 10<br>
          Jardim Florescente, Goiânia-GO
        </p>
      </div>
      <div class="col-md-2">
        <a class="icone-whatsapp"><i class="bi bi-whatsapp"></i></a>
      </div>
    </div>
  </div>
  <div class="row" style="padding-top: 10px;">
    <div class="col-md-2" style="text-align: center;">
      <a class="navbar-brand" href="#"><img class="img-fluid" src="assets/img/logo.png" alt="Logo" width="100"></a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12" style="text-align: center;">
      © 2022 Copyrigth - Coleta Consciente
    </div>
  </div>
</div>
