/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

a {
  text-decoration: none;
}

.btn {
  color: #ffffff;
}

.btn-verde {
  background-color: #359901;
}

.btn-azul {
  background-color: #00566c;
}

.carousel-inner .sr-only {
  display: none;
}
