/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

a {
  text-decoration: none;
}

.btn {
  color: #ffffff;
}

.btn-verde {
  background-color: #359901;
}

.btn-azul {
  background-color: #00566c;
}

.carousel-inner .sr-only {
  display: none;
}

.snack-background-red {
  background-color: rgb(153, 50, 50);
  color: #fff;
}

.snack-background-green {
  background-color: #2b8b3b;
  color: #fff;
}

/*Dialog*/
.cdk-overlay-container {
  z-index: 9999 !important;
}
