<div class="container-fluid sticky-top navbar-background">
  <nav class="navbar navbar-expand-md">
    <a class="navbar-brand" href="#"><img class="img-fluid" src="assets/img/logo.png" alt="Logo" width="130"></a>
    <button class="navbar-toggler" (click)="showCollapse()" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
      <i class="bi bi-list"></i>
    </button>

    <div class="collapse navbar-collapse justify-content-end" [ngClass]="{'show':show}" id="navbarToggler">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" [ngClass]="{'link-ativo': isHome}" [routerLink]="['/inicio']"><i class="bi bi-house"></i> PÁGINAL INICIAL</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [ngClass]="{'link-ativo': isColetamos}" [routerLink]="['/o-que-coletamos']"><i class="bi bi-question-circle"></i> O QUE COLETAMOS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [ngClass]="{'link-ativo': isColeta}" [routerLink]="['/solicita-coleta']"><i class="bi bi-basket2"></i> SOLICITAR COLETA</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
